/*Encabezado*/
.nav-link {
  color: rgb(204, 132, 0);
  font-size: 190px;
  font-weight: 500;
}

.nav-link:hover {
  color: rgb(204, 132, 0);
  transition: 4s;
}

img
{
  max-width:100%;
}

.cols-med
{
  
  display:flex;
  padding:30px;
  background:gray;
  font-weight:bold;
  align-items:center;
  flex-direction:column;
  justify-content:center;

}
.row{
  min-height: 88vh;
}


nav { 
  background-color: rgb(255, 165, 0);

  }
.nav-item:hover {
      background: rgb(204, 132, 0);
      transition: 1s;
      border-radius: 100px;
}



.nav-green .nav-item:hover {
      background: lightgreen;
      transition: 1s;
      border-radius: 100px;
}
/*Columnas Menu*/

.col{
  
  display:flex;
  align-items:end;
  justify-content:center;
  padding:30px;
  height:30vh;
  
}

.coltit {
  display: flex;
  text-align: left;
  align-items:center;
  
  
}

.colmap{
  

  align-items:end;
  justify-content:center;
  padding:30px;
  height:100%;
  justify-content: center;
width: 10px;
  font-size:larger;
  
}
.colum{
  

  align-items:end;
  justify-content:center;
  padding:30px;
  height:100%;
  justify-content: center;

  font-size:larger;
  
}


iframe {
  max-width: 100%;
  max-height: 100%;
}


/*Fondo y titulos*/
main{
  background-image: url(../src/pattern.jpg);
  min-height: 100vh;
}
li{
  font-size: 20px;
  }
.Titulo h1{
padding-top: 10px;
}
.Titulo {
  padding-top: 10px;
  }
.Titulo h2{
  text-align: left;
}
.colmap p{
  font-size:small;
}

.form-group{
  padding-top: 5px;
  padding-left: 5px;
}

  .Error {
    font-size: small;
    color: red;
} 
.Error {
  font-size: small;
  color: red;
} 
.contenido{
  padding-top: 85px;
}

.usu{
  font-size:xx-large;
  text-align: center;

}