* {
  border: 0;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: rgb(204, 132, 0);
  font-size: 16px;
  font-weight: 500;
}

.nav-link:hover {
  color: rgb(204, 132, 0);
  transition: 1s;
}

img {
  max-width: 100%;
}

.modalimg {

  height: auto;
  width: 100%;

}



nav {
  background-color: rgb(255, 165, 0);
}

.nav-item:hover {
  background: rgb(204, 132, 0);
  transition: 1s;
  border-radius: 100px;
}

/* Columnas de Menú */
.col {
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 30px;
  height: 30vh;
  background: url(../src/menu1.png) center no-repeat;
  background-size: 75%;
}

.coltit {
  display: flex;
  text-align: left;
  align-items: center;
}

.colmap {
  align-items: end;
  justify-content: center;
  padding: 30px;
  height: 60vh;
}

iframe {
  max-width: 100%;
  max-height: 100%;
}

/* Fondo y títulos */
main {
  background-image: url(../src/pattern.jpg);
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 20px;
}

li {
  font-size: 20px;
}

.Titulo h1 {
  text-align: center;
}

.Titulo h2 {
  border-top: 5px;
  border-top-style: dotted;
  border-top-color: rgb(255, 165, 0);
  font-size: 35px;
}
.TituloEspecial h2{
  border-top: 5px;
  border-top-style: dotted;
  border-top-color: rgb(255, 165, 0);
  font-size: 33px;
}

/* Footer */

.pie-pagina {
  width: 100%;
  background-color: rgb(255, 165, 0);
}

.pie-pagina .parte-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 45px 0px;
}

.pie-pagina .parte-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .parte-1 .box figure img {
  width: 250px;
}

.pie-pagina .parte-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .parte-1 .box p {
  color: white;
  margin-bottom: 10px;
}

.pie-pagina .parte-2 {
  background-color: rgb(204, 132, 0);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .parte-2 small a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}


p,
input {
  display: inline;
}

#Vegetarianos,
#Ovolacteovegetarianos,
#Ovovegetarianos,
#Veganos,
#Celiacos,
#Calorias,
#Carne,
#Pollo,
#Acompañamientos,
#Sopas,
#Bebidas,
#Postres {
  scroll-margin-top: 60px;
}